.feed {
    display: flex;
    flex-flow: column;
    gap: 1.5rem;
}

article {
    width: 60%;
    margin: 0 auto;
}

.post>div>p {
    margin-top: 0.25rem;
}

.author, .more-links {
    font-style: italic;
}

.navigation {
    display: flex;
    flex-flow: row;
    gap: 1rem;
    align-items: center;
}