:root {
    --font-noto-serif: var(--font-noto-serif);
    --font-shippori-mincho: var(--font-shippori-mincho);
    --font-nunito: var(--font-nunito);

    /*light theme*/
    --main-colour: light-dark(#fbf6e8, #242124);
    --text-colour: light-dark(#323031, #fffff0);
    --link-underline-colour: light-dark(#628395, #7bafd4);
    --button-colour: light-dark(#6ba368, #5e8c61);
    --error-colour: light-dark(#c05746, #c84630);

    /*button colours*/
    --discord-colour: #5865f2;
    --instagram-colour: #ff0069;
    --twitter-colour: #00acee;
    --kofi-colour: #ff6433;
}

a:hover:not(#logo):not(.button) {
    text-decoration: underline solid var(--link-underline-colour) 10px;
    text-underline-offset: 3px;
    text-decoration-skip-ink: none;
}

main {
    padding: 1rem;
}

h2 {
    font-size: 1rem;
}

#logo {
    color: var(--main-colour) !important;
    position: relative;
    top: -4px;
}